body{
    margin:0;
    display:flex;
    justify-content:center;
    height:100vh;
    align-items:center;
    font-family:cursive;
    background:rgb(238, 120, 120);
 
    
}

.container{
    background:pink;
    width:500px;
    height:400px;
    padding:20px;
    border-radius:10px;
    margin:5px;
}

h1{
    text-align:center;
}

.textarea{
    resize:none;
    width:100%;
    height:150px;
    border:3px solid black;
    padding:20px;
    box-sizing:border-box;
    font-size:15px;
    font-family:sans-serif;
    border-radius:10px;
}

.description{
    display:flex;
    justify-content:space-between;
    margin-top:40px
}

.tcharacter{
    margin:0 5px;
    font-size:15px;
    color: gray;
}

.rcharacter{
    margin:0 5px;
    font-size:15px;
    color:gray;
}